<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejercicio5"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.CAMERA"></uses-permission>	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	 <uses-feature android:name="android.hardware.camera" />
	 <uses-feature android:name="android.hardware.camera.autofocus" />	
	<uses-permission android:name="android.permission.INTERNET" />	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name="com.example.ejercicio4.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
		<activity android:name="com.madsa.AugmentedCompass.BrujulaAumentada"></activity>
		<activity android:name="com.madsa.AugmentedCompass.option.GeneralOptions"></activity> 
		<activity android:name="com.example.ejercicio4.Map"></activity>
        <activity android:name="com.example.ejercicio4.InterestingPointActivity"></activity>
        <activity android:name="com.example.ejercicio4.GalleryView"></activity>
        <activity android:name="com.example.ejercicio4.CameraIntent"            
          android:screenOrientation="landscape">
        </activity> 
        <activity android:name="com.example.ejercicio4.PhotoView"></activity>
         <activity android:name="com.example.ejercicio4.buttonsActivities.ButtonCircleActivity">         
        </activity>
        <activity android:name="com.example.ejercicio4.buttonsActivities.ButtonFilledCircleActivity">         
        </activity>
        <activity android:name="com.example.ejercicio4.buttonsActivities.ButtonFilledRectActivity">         
        </activity>
        <activity android:name="com.example.ejercicio4.buttonsActivities.ButtonRectActivity">         
        </activity>
        <activity android:name="com.example.ejercicio4.buttonsActivities.ButtonSurpriseActivity">         
        </activity>
        <activity android:name="com.example.ejercicio4.views.CircleView">         
        </activity>
        <activity android:name="com.example.ejercicio4.views.FilledCircleView">         
        </activity>
        <activity android:name="com.example.ejercicio4.views.FilledRectView">         
        </activity>
        <activity android:name="com.example.ejercicio4.views.RectView">         
        </activity>
        <activity android:name="com.example.ejercicio4.views.SurpriseView">         
        </activity>     
    </application>

</manifest>