<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejercicio2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ejercicio2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        <activity android:name="com.example.ejercicio2.buttonsActivities.ButtonCircleActivity">         
        </activity>
        <activity android:name="com.example.ejercicio2.buttonsActivities.ButtonFilledCircleActivity">         
        </activity>
        <activity android:name="com.example.ejercicio2.buttonsActivities.ButtonFilledRectActivity">         
        </activity>
        <activity android:name="com.example.ejercicio2.buttonsActivities.ButtonRectActivity">         
        </activity>
        <activity android:name="com.example.ejercicio2.buttonsActivities.ButtonSurpriseActivity">         
        </activity>
        <activity android:name="com.example.ejercicio2.views.CircleView">         
        </activity>
        <activity android:name="com.example.ejercicio2.views.FilledCircleView">         
        </activity>
        <activity android:name="com.example.ejercicio2.views.FilledRectView">         
        </activity>
        <activity android:name="com.example.ejercicio2.views.RectView">         
        </activity>
        <activity android:name="com.example.ejercicio2.views.SurpriseView">         
        </activity>        
    </application>

</manifest>